{% extends "base.html" %}

{% block content %}
	<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="text-center pb-12">
            <h2 class="text-base font-bold text-indigo-600">
                These are our agent team
            </h2>
            <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
                Agents
            </h1>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        	{% for a in agents %}
            <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
                <div class="mb-8">
                    <img class="object-center object-cover rounded-full h-36 w-36" src="{{a.user.pic.url}}" alt="photo">
                </div>
                <div class="text-center">
                    <p class="text-xl text-gray-700 font-bold mb-2"><a href="{% url 'claims:adetail' a.user %}">{{a.user}}</a></p>
                    <p class="text-base text-gray-400 font-normal">{{a.user.email}}</p>
                    {% if a.is_available %}
                        <p class="text-base text-blue-400 font-normal">Available</p>
                    {% else %}
                        <p class="text-base text-blue-400 font-normal">Not Available</p>
                    {% endif %}
                    
                </div>
            </div>
            {% endfor %}
            
        </div>
    </section>

	

	
{% endblock content %}

