{% extends "base.html" %}

{% block content %}

    <form action="." method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        Username:
        <input type="text" name="username">
        Password:
        <input type="password" name = "pass1">
        Retype Password:
        <input type="password" name="pass2">
        Email:
        <input type="email" name="email">
        Profilepic:
        <input type="file" name = "pic" value="Add pic">
        <input type="submit" value = "Submit">

    </form>

{% endblock content%}